services:
  postgres:
    image: postgres:16
    restart: always
    volumes:
      - db-store:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    env_file:
      - .env

volumes:
  db-store:
